// Place all the styles related to the initiatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 0px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-options {
  color: #6c757d;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  .btn-sm {

    .material-icons {
      font-size: 20px !important;
    }

  }
}

.card-body .card-options {
  position: absolute;
  top: 1.5rem;
  right: 0.75rem;
}


  .card {
    border-radius: 0%;
    border:none;

  }
